body {
    background-image: url('img/background.png');
    color: #000305;
    font-size: 87.5%; /* Base font size - 14px */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    text-align: left;    
}

a {
    text-decoration: none;
}

a:link, 
a:visited {
    color: #cf5c3f;
}

a:hover,
a:active {
    color: #cf5c3f;
    background-color: #fff;
}

.body {
    margin: 3% auto;
    width: 75%;
    clear: both;
}

.mainheader nav {
    background-color: #666;
    height: 80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;    
}

.mainheader nav ul li {
    float: left;
    display: inline;    
}

.mainheader nav a:link, 
.mainheader nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainheader nav a:hover, 
.mainheader nav a:active,
.mainheader nav .active a:link,
.mainheader nav .active a:visited {
    background-color: #cf5c3f;
    text-shadow: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav il li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainContent {    
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    width: 100%;
}

.centercontent {
    margin: 4% 0 4%;                                          
    padding: 3% 5%;;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* "offSideContent">
                            <content>
                                <h3>Spalone</h3>
                                <li>Podwieszone kamery podążające za sędziami liniowymi</li>
                                <li>Sala do odtwarzania materiału wideo</li>
                                <li>AI automatycznie wykrywające spalone</li>
                            </content>
                        </div>
                        
                        <div class="statisticsContent">
                            <content>
                                <h3>Statystyki</h3>
                                <li>Kamera obserwująca ruchy piłki i zawodników z góry</li>
                                <li>Sala do odtwarzania materiału wideo</li>
                                <li>Przetwarzanie obrazu automatycznie zbierające dane</li>
                                <li>Czujniki w butach i ubraniach zawodników</li>
                            </content>
                        </div>

                        <div class="fansHelpContent"> */

.offSideContent h3, .statisticsContent h3, .fansHelpContent h3 {
    color: white;
    margin-left: 5px;
}

.offSideContent li, .statisticsContent li, .fansHelpContent li {
    color: white;
    padding-left: 20px;    
}

.offSideContent {
    background-color: gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
}

.statisticsContent {
    background-color: slategrey;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
}

.fansHelpContent {
    background-color: silver;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
}

.prosContent h3, .consContent h3 {
    color: white;
    margin-left: 5px;
}

.prosContent li, .consContent li {
    color: white;
    padding-left: 20px;    
}

.prosContent {
    background-color: teal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
}

.consContent {
    background-color: tomato;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
}

.mainFooter {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin: 2% 0;
}

.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #fff;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 85%;
}

@media only screen and (min-width: 150px) and (max-width: 700px) {
    
    .body {
        margin: 3% auto;
        width: 95%;
        clear: both;
        font-size: 95%;
    }

    .mainheader nav {
        height: 200px;
    }

    .mainheader nav ul {
        padding-left: 0;
    }

    .mainheader nav ul li {
        width: 100%;
        text-align: center;
    }

    .mainheader nav a:link, 
    .mainheader nav a:visited {        
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    .content {
        width: 100%;
        float: left;
    }

    .centercontent {
        margin: 2% 0 3%;                                                    
    }

    .post-info {
        display: none;
    }

    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        margin: 2% 0 2% 0;
        width: 94%;
        padding: 2% 3%;        
    }
}